.search {
  margin-bottom: 50px !important;
  min-width: 200px;
}

.posts {
  column-count: 4;
  column-gap: 25px;
  column-fill: balance;

  > a {
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
    display: inline-block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}